# Initialisation de Spark

In [1]:
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("Notebook").setMaster("local")
sc = SparkContext(conf=conf)

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/11/10 09:44:14 WARN Utils: Your hostname, Dell, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/11/10 09:44:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/10 09:44:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Une fonction pour simplifier l'accès aux données

In [3]:
def extract_field(s: str, field_number: int, sep: str = ';') -> str:
    fields = s.split(sep)
    return fields[field_number] if (field_number < len(fields)) else ""

In [ ]:
print(extract_field("2;CASSIOPEE;2009;33;3", 0))
print(extract_field("2;CASSIOPEE;2009;33;3", 1))
print(extract_field("2;CASSIOPEE;2009;33;3", 2))
print(extract_field("2;CASSIOPEE;2009;33;3", 3))
print(extract_field("2;CASSIOPEE;2009;33;3", 4))
print(extract_field("2;CASSIOPEE;2009;33;3", 5))

2
CASSIOPEE
2009
33
3

# Charger les données
1. Créer le RDD `lignes` à partir du répertoire `prenoms_sample.txt`

In [4]:
lignes = sc.textFile("prenoms_sample.txt")
print(lignes.take(10))

['1;_PRENOMS_RARES;1910;06;38', '1;_PRENOMS_RARES;1919;974;122', '1;_PRENOMS_RARES;1921;84;3', '1;_PRENOMS_RARES;1929;43;7', '1;_PRENOMS_RARES;1934;971;190', '1;_PRENOMS_RARES;1942;85;11', '1;_PRENOMS_RARES;1949;34;10', '1;_PRENOMS_RARES;1967;04;3', '1;_PRENOMS_RARES;1967;08;17', '1;_PRENOMS_RARES;1992;75;1166']

# Transformer les lignes en prénoms
1. En appliquant la méthode `map`, créer le RDD `prenoms` à partir de `lignes`

In [5]:
prenoms = lignes.map(lambda l: (
    extract_field(l, 0)[0],
    extract_field(l, 1),
    int(extract_field(l, 2)),
    int(extract_field(l, 3)),
    int(extract_field(l, 4))
))
for n in prenoms.take(10):
    print(n)

('1', '_PRENOMS_RARES', 1910, 6, 38)
('1', '_PRENOMS_RARES', 1919, 974, 122)
('1', '_PRENOMS_RARES', 1921, 84, 3)
('1', '_PRENOMS_RARES', 1929, 43, 7)
('1', '_PRENOMS_RARES', 1934, 971, 190)
('1', '_PRENOMS_RARES', 1942, 85, 11)
('1', '_PRENOMS_RARES', 1949, 34, 10)
('1', '_PRENOMS_RARES', 1967, 4, 3)
('1', '_PRENOMS_RARES', 1967, 8, 17)
('1', '_PRENOMS_RARES', 1992, 75, 1166)

# Interroger les données
La documentation des méthodes d'un RDD est disponible ([RDD](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.RDD.html)).

1. Rappeler ce que sont les *transformations* et les *actions*
1. Donner, pour chaque prénom, son nombre d'occurences (`map` et `reduceByKey`)

In [6]:
#TODO
test = lignes.map(lambda l: (extract_field(l, 1),int(extract_field(l, 4))))

resultat = test.reduceByKey(lambda a, b: a + b)
for prenom, total in resultat.take(10):
    print(f"{prenom}: {total}")

ABDOULAYE: 7
ACHILLE: 9
ADAM: 113
ADEM: 4
ADRIEN: 151
AIDAN: 3
ALAN: 23
ALEX: 40
ALEXIS: 120
ALFRED: 29

1. Donner le nombre total de naissances avec un prénom féminin (`filter`, `map`, `reduce` ou `sum`)

In [7]:
#TODO
filtrer = lignes.filter(lambda l : l.startswith("2")== True)
traitement= filtrer.map(lambda l: int(extract_field(l, 4)))
resultat = traitement.reduce(lambda a,b: a+b)
print("total des filles", resultat)

total des filles 36039

1. Donner l'effectif maximal et minimal par prénom (`map`, `aggregateByKey`)

In [8]:
traitement= lignes.map(lambda l : (extract_field(l,1), int(extract_field(l,4))))
resultat = traitement.aggregateByKey((9999999,-999999999),
    lambda a,v: (min(a[0],v),max(a[1],v)),
    lambda acc1,acc2: (min(acc1[0],acc2[0]),max(acc1[1],acc2[1]))
)
resultat.take(10)

[('ABDOULAYE', (7, 7)),
 ('ACHILLE', (3, 6)),
 ('ADAM', (14, 50)),
 ('ADEM', (4, 4)),
 ('ADRIEN', (5, 52)),
 ('AIDAN', (3, 3)),
 ('ALAN', (3, 14)),
 ('ALEX', (3, 17)),
 ('ALEXIS', (3, 45)),
 ('ALFRED', (5, 12))]

1. Sur le modèle des prénoms, charger les données des départements
1. Donner, pour chaque nom de département, le prénom le plus fréquent depuis l'année 2000

In [9]:
lignes = sc.textFile("dpts.txt")
header = lignes.first()

lignes_sans_header = lignes.filter(lambda l: l != header)

departements = lignes_sans_header.map(lambda l: l.split(",")).map(lambda f: (
                         f[0],
                         int(f[1]),
                         f[2],
                         int(f[3]),
                         f[4],
                         f[5],
                         f[6]
                     ))

for d in departements.collect():
    print(d)

('01', 84, '01053', 5, 'AIN', 'Ain', 'Ain')
('02', 32, '02408', 5, 'AISNE', 'Aisne', 'Aisne')
('03', 84, '03190', 5, 'ALLIER', 'Allier', 'Allier')
('04', 93, '04070', 4, 'ALPES DE HAUTE PROVENCE', 'Alpes-de-Haute-Provence', 'Alpes-de-Haute-Provence')
('05', 93, '05061', 4, 'HAUTES ALPES', 'Hautes-Alpes', 'Hautes-Alpes')
('06', 93, '06088', 4, 'ALPES MARITIMES', 'Alpes-Maritimes', 'Alpes-Maritimes')
('07', 84, '07186', 5, 'ARDECHE', 'Ardèche', 'Ardèche')
('08', 44, '08105', 4, 'ARDENNES', 'Ardennes', 'Ardennes')
('09', 76, '09122', 5, 'ARIEGE', 'Ariège', 'Ariège')
('10', 44, '10387', 5, 'AUBE', 'Aube', 'Aube')
('11', 76, '11069', 5, 'AUDE', 'Aude', 'Aude')
('12', 76, '12202', 5, 'AVEYRON', 'Aveyron', 'Aveyron')
('13', 93, '13055', 4, 'BOUCHES DU RHONE', 'Bouches-du-Rhône', 'Bouches-du-Rhône')
('14', 28, '14118', 2, 'CALVADOS', 'Calvados', 'Calvados')
('15', 84, '15014', 2, 'CANTAL', 'Cantal', 'Cantal')
('16', 75, '16015', 3, 'CHARENTE', 'Charente', 'Charente')
('17', 75, '17300', 3, 'CHARENTE MARITIME', 'Charente-Maritime', 'Charente-Maritime')
('18', 24, '18033', 2, 'CHER', 'Cher', 'Cher')
('19', 75, '19272', 3, 'CORREZE', 'Corrèze', 'Corrèze')
('21', 27, '21231', 3, 'COTE D OR', "Côte-d'Or", "Côte-d'Or")
('22', 53, '22278', 4, 'COTES D ARMOR', "Côtes-d'Armor", "Côtes-d'Armor")
('23', 75, '23096', 3, 'CREUSE', 'Creuse', 'Creuse')
('24', 75, '24322', 3, 'DORDOGNE', 'Dordogne', 'Dordogne')
('25', 27, '25056', 2, 'DOUBS', 'Doubs', 'Doubs')
('26', 84, '26362', 3, 'DROME', 'Drôme', 'Drôme')
('27', 28, '27229', 5, 'EURE', 'Eure', 'Eure')
('28', 24, '28085', 1, 'EURE ET LOIR', 'Eure-et-Loir', 'Eure-et-Loir')
('29', 53, '29232', 2, 'FINISTERE', 'Finistère', 'Finistère')
('2A', 94, '2A004', 3, 'CORSE DU SUD', 'Corse-du-Sud', 'Corse-du-Sud')
('2B', 94, '2B033', 3, 'HAUTE CORSE', 'Haute-Corse', 'Haute-Corse')
('30', 76, '30189', 2, 'GARD', 'Gard', 'Gard')
('31', 76, '31555', 3, 'HAUTE GARONNE', 'Haute-Garonne', 'Haute-Garonne')
('32', 76, '32013', 2, 'GERS', 'Gers', 'Gers')
('33', 75, '33063', 3, 'GIRONDE', 'Gironde', 'Gironde')
('34', 76, '34172', 5, 'HERAULT', 'Hérault', 'Hérault')
('35', 53, '35238', 1, 'ILLE ET VILAINE', 'Ille-et-Vilaine', 'Ille-et-Vilaine')
('36', 24, '36044', 5, 'INDRE', 'Indre', 'Indre')
('37', 24, '37261', 1, 'INDRE ET LOIRE', 'Indre-et-Loire', 'Indre-et-Loire')
('38', 84, '38185', 5, 'ISERE', 'Isère', 'Isère')
('39', 27, '39300', 2, 'JURA', 'Jura', 'Jura')
('40', 75, '40192', 4, 'LANDES', 'Landes', 'Landes')
('41', 24, '41018', 2, 'LOIR ET CHER', 'Loir-et-Cher', 'Loir-et-Cher')
('42', 84, '42218', 3, 'LOIRE', 'Loire', 'Loire')
('43', 84, '43157', 3, 'HAUTE LOIRE', 'Haute-Loire', 'Haute-Loire')
('44', 52, '44109', 3, 'LOIRE ATLANTIQUE', 'Loire-Atlantique', 'Loire-Atlantique')
('45', 24, '45234', 2, 'LOIRET', 'Loiret', 'Loiret')
('46', 76, '46042', 2, 'LOT', 'Lot', 'Lot')
('47', 75, '47001', 2, 'LOT ET GARONNE', 'Lot-et-Garonne', 'Lot-et-Garonne')
('48', 76, '48095', 3, 'LOZERE', 'Lozère', 'Lozère')
('49', 52, '49007', 2, 'MAINE ET LOIRE', 'Maine-et-Loire', 'Maine-et-Loire')
('50', 28, '50502', 3, 'MANCHE', 'Manche', 'Manche')
('51', 44, '51108', 3, 'MARNE', 'Marne', 'Marne')
('52', 44, '52121', 3, 'HAUTE MARNE', 'Haute-Marne', 'Haute-Marne')
('53', 52, '53130', 3, 'MAYENNE', 'Mayenne', 'Mayenne')
('54', 44, '54395', 0, 'MEURTHE ET MOSELLE', 'Meurthe-et-Moselle', 'Meurthe-et-Moselle')
('55', 44, '55029', 3, 'MEUSE', 'Meuse', 'Meuse')
('56', 53, '56260', 2, 'MORBIHAN', 'Morbihan', 'Morbihan')
('57', 44, '57463', 3, 'MOSELLE', 'Moselle', 'Moselle')
('58', 27, '58194', 3, 'NIEVRE', 'Nièvre', 'Nièvre')
('59', 32, '59350', 2, 'NORD', 'Nord', 'Nord')
('60', 32, '60057', 5, 'OISE', 'Oise', 'Oise')
('61', 28, '61001', 5, 'ORNE', 'Orne', 'Orne')
('62', 32, '62041', 2, 'PAS DE CALAIS', 'Pas-de-Calais', 'Pas-de-Calais')
('63', 84, '63113', 2, 'PUY DE DOME', 'Puy-de-Dôme', 'Puy-de-Dôme')
('64', 75, '64445', 4, 'PYRENEES ATLANTIQUES', 'Pyrénées-Atlantiques', 'Pyrénées-Atlantiques')
('65', 76, '65440', 4, 'HAUTES PYRENEES', 'Hautes-Pyrénées', 'Hautes-Pyrénées')
('66', 76, '66136', 4, 'PYRENEES ORIENTALES', 'Pyrénées-Orientales', 'Pyrénées-Orientales')
('67', 44, '67482', 2, 'BAS RHIN', 'Bas-Rhin', 'Bas-Rhin')
('68', 44, '68066', 2, 'HAUT RHIN', 'Haut-Rhin', 'Haut-Rhin')
('69', 84, '69123', 2, 'RHONE', 'Rhône', 'Rhône')
('70', 27, '70550', 3, 'HAUTE SAONE', 'Haute-Saône', 'Haute-Saône')
('71', 27, '71270', 0, 'SAONE ET LOIRE', 'Saône-et-Loire', 'Saône-et-Loire')
('72', 52, '72181', 3, 'SARTHE', 'Sarthe', 'Sarthe')
('73', 84, '73065', 3, 'SAVOIE', 'Savoie', 'Savoie')
('74', 84, '74010', 3, 'HAUTE SAVOIE', 'Haute-Savoie', 'Haute-Savoie')
('75', 11, '75056', 0, 'PARIS', 'Paris', 'Paris')
('76', 28, '76540', 3, 'SEINE MARITIME', 'Seine-Maritime', 'Seine-Maritime')
('77', 11, '77288', 0, 'SEINE ET MARNE', 'Seine-et-Marne', 'Seine-et-Marne')
('78', 11, '78646', 4, 'YVELINES', 'Yvelines', 'Yvelines')
('79', 75, '79191', 4, 'DEUX SEVRES', 'Deux-Sèvres', 'Deux-Sèvres')
('80', 32, '80021', 3, 'SOMME', 'Somme', 'Somme')
('81', 76, '81004', 2, 'TARN', 'Tarn', 'Tarn')
('82', 76, '82121', 2, 'TARN ET GARONNE', 'Tarn-et-Garonne', 'Tarn-et-Garonne')
('83', 93, '83137', 2, 'VAR', 'Var', 'Var')
('84', 93, '84007', 2, 'VAUCLUSE', 'Vaucluse', 'Vaucluse')
('85', 52, '85191', 3, 'VENDEE', 'Vendée', 'Vendée')
('86', 75, '86194', 3, 'VIENNE', 'Vienne', 'Vienne')
('87', 75, '87085', 3, 'HAUTE VIENNE', 'Haute-Vienne', 'Haute-Vienne')
('88', 44, '88160', 4, 'VOSGES', 'Vosges', 'Vosges')
('89', 27, '89024', 5, 'YONNE', 'Yonne', 'Yonne')
('90', 27, '90010', 2, 'TERRITOIRE DE BELFORT', 'Territoire de Belfort', 'Territoire de Belfort')
('91', 11, '91228', 5, 'ESSONNE', 'Essonne', 'Essonne')
('92', 11, '92050', 4, 'HAUTS DE SEINE', 'Hauts-de-Seine', 'Hauts-de-Seine')
('93', 11, '93008', 3, 'SEINE SAINT DENIS', 'Seine-Saint-Denis', 'Seine-Saint-Denis')
('94', 11, '94028', 2, 'VAL DE MARNE', 'Val-de-Marne', 'Val-de-Marne')
('95', 11, '95500', 2, 'VAL D OISE', "Val-d'Oise", "Val-d'Oise")
('971', 1, '97105', 3, 'GUADELOUPE', 'Guadeloupe', 'Guadeloupe')
('972', 2, '97209', 3, 'MARTINIQUE', 'Martinique', 'Martinique')
('973', 3, '97302', 3, 'GUYANE', 'Guyane', 'Guyane')
('974', 4, '97411', 0, 'LA REUNION', 'La Réunion', 'La Réunion')
('976', 6, '97608', 0, 'MAYOTTE', 'Mayotte', 'Mayotte')

In [23]:
prenom_plus_2000 = prenoms.filter(lambda l: l[2]>=2000)
departements_to_join = departements.map(lambda l: (l[0],l[4]))
prenom_plus_2000_to_join= prenom_plus_2000.map(lambda l: (str(l[3]),(l[1],l[4])))
join_prenom_dpt= prenom_plus_2000_to_join.join(departements_to_join)
join_prenom_dpt_named = join_prenom_dpt.map(
    lambda l: (l[1][1], l[1][0])
)

join_prenom_dpt_named.take(5)
resultat = join_prenom_dpt_named.aggregateByKey(("",0),
                    lambda acc,v: (v[0],v[1]) if (v[1]>acc[1]) else(acc[0],acc[1]),
                    lambda acc1,acc2: (acc1[0],acc1[1]) if (acc1[1]>acc2[1])else (acc2[0],acc2[1]))


for dep, (prenom, nb) in resultat.collect():
    print(f"{dep} : {prenom} ({nb})")

MARNE : ADAM (34)
COTE D OR : NOA (19)
LA REUNION : MATTÉO (33)
DROME : GABIN (23)
AVEYRON : ABEL (4)
VENDEE : ALEXIS (45)
ILLE ET VILAINE : LIAM (51)
MORBIHAN : CLARA (35)
MANCHE : EDGAR (7)
HAUTE SAVOIE : SARAH (35)
VOSGES : PAUL (30)
OISE : YANIS (40)
HAUTES PYRENEES : MILO (4)
LOZERE : JEANNE (3)
PAS DE CALAIS : NATHAN (85)
GIRONDE : _PRENOMS_RARES (437)
HERAULT : ALEX (17)
VAR : CLÉMENT (52)
SARTHE : CLÉMENT (31)
CHER : MATHÉO (11)
DOUBS : SALOMÉ (14)
GARD : ELENA (18)
COTES D ARMOR : ALEXIS (13)
LOIRET : JADE (35)
SAVOIE : AXEL (19)
SEINE ET MARNE : JULIE (77)
CHARENTE MARITIME : QUENTIN (32)
GUADELOUPE : LYAM (24)
AUBE : CÉLIA (13)
SEINE SAINT DENIS : RAYAN (122)
LOT ET GARONNE : ADAM (15)
LOIRE : ERWAN (14)
TARN : MATHÉO (19)
CREUSE : ENZO (10)
INDRE : THOMAS (27)
ESSONNE : VINCENT (46)
DEUX SEVRES : ARTHUR (23)
TERRITOIRE DE BELFORT : ADAM (14)
HAUTE GARONNE : ELIOTT (51)
PARIS : ALEXANDRE (344)
MEUSE : ANDY (4)
DORDOGNE : LÉO (22)
SOMME : CLARA (39)
ORNE : MANON (25)
CANTAL : MAXENCE (9)
HAUT RHIN : WILLIAM (21)
HAUTE VIENNE : THÉO (46)
PYRENEES ORIENTALES : LOUIS (23)
MOSELLE : _PRENOMS_RARES (210)
YVELINES : SOLÈNE (38)
LOIRE ATLANTIQUE : NOAH (54)
CHARENTE : JULES (23)
BAS RHIN : ABEL (7)
NIEVRE : CORENTIN (3)
MARTINIQUE : KILLIAN (12)
LANDES : MAEL (10)
LOIR ET CHER : MATHILDE (19)
VAL D OISE : INES (71)
EURE : RAPHAËL (27)
INDRE ET LOIRE : MATHIS (30)
FINISTERE : _PRENOMS_RARES (158)
VAUCLUSE : THOMAS (22)
ISERE : NATHAN (102)
PYRENEES ATLANTIQUES : ELIOTT (18)
GERS : MARINE (10)
HAUTE LOIRE : LOUISE (6)
PUY DE DOME : MAXENCE (34)
MEURTHE ET MOSELLE : LAURA (62)
RHONE : ROMAIN (145)
VIENNE : ROMANE (20)
TARN ET GARONNE : AYA (13)
JURA : BAPTISTE (11)
MAINE ET LOIRE : CLÉMENT (87)
HAUTE MARNE : YANIS (6)
BOUCHES DU RHONE : ANAÏS (127)
YONNE : CAMILLE (19)
CALVADOS : AXEL (46)
SEINE MARITIME : LOLA (98)
GUYANE : NOLAN (8)
HAUTE SAONE : QUENTIN (16)
VAL DE MARNE : CLÉMENT (87)
NORD : LÉA (362)
HAUTS DE SEINE : SARAH (157)
SAONE ET LOIRE : SIMON (17)
CORREZE : BAPTISTE (9)
MAYENNE : MATHIS (41)
EURE ET LOIR : KYLLIAN (5)
AUDE : MAËL (9)
MAYOTTE : KAMILA (16)